@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    margin: auto;
    background: #25160a;
    color: #f4d4be; 
    height: 100%;
}

    body {
        margin: 0;
        height: 100%;
    }

        #main{
            margin: 3% 10% 2%;
        }

        .title h1{
            text-align: center;
            margin: 1% 0;
            background-color: rgba(38, 19, 15, 1);
            color: #966926;
            width: 100%;
            z-index: 3;
        }

        #container{
            padding: 1%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            background: rgba(38, 19, 15, 0.9);
            width: 100%;
            z-index: 3;
            position: relative;
        }

        /* background hex #372e2b */

        .container1{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }

            .galleryContainer{
                margin:0 auto;
                width:40%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
            }

                .galleryContainer img{
                    width: calc(50% - 10px);
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    clip-path: circle(50%);
                    margin:5px;
                }


            .spotifyContainer{
                width: 50%;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;
            }

                .quoteContainer{
                    font-family: Libre Baskerville, serif;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding:1%;
                }

                    .effect {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        padding: 1em;
                        cursor: pointer;

                    }

                        .effect-a {
                            opacity: 0.5;

                            .effect__subheading {
                            opacity: 0;
                            transform: translateX(-50%);
                            transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1); /*from left*/
                            }
                        
                            &:hover {
                            opacity: 1;
                            
                            .effect__heading:after {
                                opacity: 0.1;
                                transform: scaleX(1);
                            }
                            .effect__subheading {
                                transform: translateX(0%);
                                opacity: 1;
                            }
                            }
                        }

            .goal{
                    width: 100%;
            }

                #goaltitle{
                    padding: 1%;
                    margin-top: 2%;
                    text-align: center;
                    background-color: #966926;
                }
            
                .goal-contain{
                    margin: 0;
                    padding: 1%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    font-family: bodoni moda, sans-serif;
                    font-size: medium;;
                }
            
                    .item {
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        background-color: #25160a;
                        border: 1px solid #25160a;
                        border-radius: 10px;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                        transition: transform 0.3s;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 200px;
                        margin: 1vw;
                    }
                
                        .item:hover {
                            transform: scale(1.05);
                        }
                
                    .image-card {
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
                        border-radius: 8px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                
                        .image-card img {
                            width: 200px;
                            height: 200px;
                            object-fit: cover;
                        }
                
                    .card-content {
                        margin: 3%;
                        text-align: center;
                        
                    }

        .gridBackground {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(5, 1fr);
            width: 100vw;
            height: 100vh;
            grid-gap: 10px;
            position:fixed;
            overflow: hidden;
            top:0;
            left: 0;
            z-index: -1;
        }
            
        .grid-image1 {
            background-image: url(assets/teehee.png);
            background-size: cover;
            background-position: center;
            grid-column: 1/4;
            grid-row: 1/2;
        }
        
        .grid-image2 {
            background-image: url(assets/gothgarden.jpg);
            background-size: cover;
            background-position: center;
            grid-column: 1/2;
            grid-row: 2/5;
        }
        
        .grid-image3 {
            background-image: url(assets/camus.png);
            background-size: cover;
            background-position: center;
            grid-column: 1/5;
            grid-row: 5/5;
        }
        
        .grid-image4 {
            background-image: url(assets/little\ women.avif);
            background-size: cover;
            background-position: center;
            grid-column: 2/4;
            grid-row: 2/5;
        }
        
        .grid-image5 {
            background-image: url(assets/dorian.png);
            background-size: cover;
            background-position: center;
            grid-column: 4/6;
            grid-row: 1/3;
        }
        
        .grid-image6 {
            background-image: url(assets/house.jpg);
            grid-column: 4/5;
            grid-row: 3/5;
        }
        
        .grid-image7 {
            background-image: url(assets/hirono.jpg);
            background-size: cover;
            background-position: center;
            grid-column: 5/6;
            grid-row: 3/6;
        }
        
        .grid-image8 {
            background-image: url(assets/hadestown.jpeg);
            background-size: cover;
            background-position: center;
            grid-column: 6/8;
            grid-row: 1/6;
        }
    footer{
        color: black;
        z-index: 2;
    }
    
                      
                      
                    
@media (max-width: 1024px) {
    .galleryContainer{
        width: 100%;
    }
    .galleryContainer img{
        margin: 10px auto;
        width: 45%;
    }
    .spotifyContainer{
        width: 100%;
        height: 500px;
    }
    .item{
        width: 250px;
        margin: 1.5vw;
    }
    .image-card img{
        width: 350px;
        height: 200px;

    }
}

    
@media (max-width: 768px) {
    .galleryContainer{
        width: 100%;
    }
    .galleryContainer img{
        margin: 10px auto;
        width: 70%;
    }
    .spotifyContainer{
        width: 100%;
        height: 600px;
    }
    .item{
        width: 300px;
        margin: 2vw;
    }
    .image-card img{
        width: 350px;
        height: 200px;

    }
}
