* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #1a1a1a;
    color: #e1e1e1;
    height: 100%;
}

    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    h2 {
        color: #ffffff;
    }

    textarea {
        width: 60%;
        height: 200px;
        margin: 20px 0;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #555555;
        border-radius: 5px;
        resize: none;
        background: #333333;
        color: #e1e1e1; 
    }

    div {
        font-size: 18px;
        margin: 5px 0;
        color: #e1e1e1;
        text-align:left;
        display: block;
        width: 60%; 
    }